---
import Section from '../components/seccion.astro';
---
<Section title ="About">

   <div>
      <p>
        Soy un estudiante apasionado por la Ingeniería y el desarrollo, 
        nacido en 2004 y actualmente residiendo en Managua, Nicaragua. 
        Mi experiencia abarca diversos lenguajes de programación y gestores 
        de bases de datos, lo que me ha permitido desarrollar soluciones creativas 
        y eficientes. Soy conocido por mi carisma y mi habilidad para trabajar en equipo, 
        valorando la comunicación efectiva y la colaboración para alcanzar objetivos comunes.
        Siempre estoy motivado por aprender nuevas tecnologías relacionadas con el desarrollo,
        manteniéndome al día con las últimas tendencias y buscando mejorar continuamente mis 
        habilidades y conocimientos.
      </p>
 
   </div>
 
  
</Section>

<style>
    
    p{
        
        color: rgb(215, 186, 185);
        font-weight: 500;
        font-size: 1rem;
    }


   
</style>


