---
import Seccion from '../components/seccion.astro';
---

<Seccion title ="education">

    <p>

        Estudie en el colegio Mi Redentor primeria y segundario graduandome de primeria en el año 2015
        y posteriormente despues de 5 años graduandome ene el año 2020, actualmente curos tercer año de ingenieria 
        en computacion en la Universidad Nacional Politecnica (UNP) en Managua Nicaragua, iniciando mis estudios en
        esta alma mater en el año 2022.


    </p>

</Seccion>

<style>

  p{
       color: rgb(215, 186, 185);
       font-weight: 500;
       font-size: 1rem;
  }  

</style>
   
