---
import Seccion from '../components/seccion.astro';
---

<Seccion title ="Education">

    <p>

        Estudie en el colegio <b> Mi Redentor </b>primaria y segundaria graduandome de primaria en el año <b>2015</b>
        y posteriormente despues de 5 años graduandome  de segundaria en el año <b>2020</b>, actualmente curso
        tercer año de ingenieria 
        en computacion en la Universidad Nacional Politecnica <b>(UNP)</b> en Managua Nicaragua, iniciando mis estudios en
        esta alma mater en el año <b>2022</b>.


    </p>

</Seccion>

<style>

  p{
       color: rgb(215, 186, 185);
       font-weight: 500;
       font-size: 1rem;
  }  

</style>
   
