---
import Seccion from '../components/seccion.astro';
---

<Seccion title="projects">

    <div>

        <h3>Base de datos panaderia</h3>
        
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  
          fill="none"  stroke="#050505"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-database-edit"><path stroke="none"
          d="M0 0h24v24H0z" fill="none"/><path d="M4 6c0 1.657 3.582 3 8 3s8 -1.343 8 -3s-3.582 -3 -8 -3s-8
          1.343 -8 3" /><path d="M4 6v6c0 1.657 3.582 3 8 3c.478 0 .947 -.016 1.402 -.046" />
          <path d="M20 12v-6" /><path d="M4 12v6c0 1.526 3.04 2.786 6.972 2.975" /><path d="M18.42 15.61a2.1 2.1 0 0 
          1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z" />
        </svg>

    </div>

   
    <p>
    Desarrollo en conjunto con un gruopo de desarrolladores de una base de datos
    de un modelo de negocio de una panaderia <b>(proyecto desarrollado como parte de actividades academicas,
    aun en desarrollo)</b> base de datos desarrollada en <b>SQL SERVER</b>
    </p>
    
    <div>

        <h3>Sistema panaderia</h3>

        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  
          stroke="#050505"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" 
          class="icon icon-tabler icons-tabler-outline icon-tabler-code-off"><path stroke="none" d="M0 0h24v24H0z"
          fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-2.5 2.5" /><path d="M14 4l-1.201 4.805m-.802 3.207l-2 7.988" />
          <path d="M3 3l18 18" />
        </svg>

      

    </div>
    

    <p>

    Desarrollo en conjunto con un grupo de desarrolladores de un sistema para un modelo de negocio de una panaderia <b>(proyecto
    desarrollado como parte de actividades academaicas, aun en desarrollo)</b> programa desasrrollado en <b>C#</b>
        
    </p>


</Seccion>

<style>

    h3{
        color:#d7baba;
        font-weight: 500;
        font-size: 1.3rem;
        text-wrap: balance;;
        
    }


    p{
        color:#d7baba;
        font-weight: 500;
        font-size: 1.1rem;
        text-wrap: balance;;
    }

    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    div svg{
        background-color: #f8f4f4 ;
        transition: all .3s ease;
        box-shadow: 0px 0px 20px rgb(215, 186, 186,1.5);
        border-radius: 10px;
        width: 35px;
        height: 35px;
    }

    

    
</style>

